.rodape {
  height: 120px;
  gap: 100px;
  display: flex;
  padding-left: 16px;
  z-index: 2;
  position: relative;
}
.icone-moeda {
  align-self: center;
  width: 90px;
  height: 90px;
}

.bloco-interrogacao {

width: 90px;
height: 90px;
align-self: center;
}

h3 {
  color: yellow;
  font-size: 17.9px;
}

.direitos {
  margin-top: 100px;
  white-space: nowrap;

}

.pagamento {
  padding-top: 10px;
}