

body,html {
  margin: 0;
  padding:  0;
  overflow: hidden;
  font-family:'Press Start 2P';
}

.App {
  text-align: center;
  background-color: #30497e;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  flex-direction: column;
}

.titulo-todo {
  z-index: 1;
}
.titulo {
  color: yellow;
  font-size: 40px;
}

.icone-moeda-titulo {
  height: 50px;
  width: 50px;
  margin-left: 15px;
}

.sub-titulo {
  color: yellow;
  margin-top: -10px;
  font-size: 14px;
}

.parte-principal {
  display: flex;
  height: 705px;
  width: 1600px;
  background-color: rgba(29, 50, 94, 0.37);
  margin-left:60px;
  margin-top:0;
  position: relative;
  gap: 0 50px;
  padding-left: 200px;
}

.estrela1,.estrela2,.estrela3 {
  height: 35px;
  width:  35px;
  padding-top: 70px;
}

.bau {
  height: 180px;
  width: 180px;
  position: absolute;
  bottom: -35px;
  left:-2px;
}

.personagem {
  height: 190px;
  width: 110px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.coracoes {
  position: absolute;
  padding-top: 84px;
  padding-left: 60px;
  margin-left: -5px;
  display: flex;
}

.coracao {
  height: 42px;

}

h5 {
  color: yellow;
  padding-top: 60px;
  font-size: 14px;
}

.card-1, .card-2, .card-3, .card-4{
display: flex;
flex-direction: column;
row-gap: 60px;
}